@font-face {
    font-family: Quicksand-Bold;
    src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face {
    font-family: Quicksand-Regular;
    src: url(../fonts/Quicksand-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}
header {
    background-color: #4A5DF2;
    padding: 25px 50px;
}
.container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.admin-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
main {
    padding: 40px 20px;
}
h1 {
    margin-bottom: 40px;
    color: black;
}
.flight-form {
    max-width: 800px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    justify-content: space-between;
    position: relative;
}
label {
    flex: 1;
    font-size: 18px;
    color: black;
}
input {
    flex: 2;
    text-align: left;
}
.icon {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.icon:hover {
    color: blue;
}
.separator {
    border-top: 2px solid #0c0b0b;
    margin: 5px 0;
    width: 50%;
}
.icones-plus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer {
    background-color: #4A5DF2;
    color: white;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
.footer-menu {
    margin-bottom: 10px;
    padding-left: 35px;
}
.footer-menu ul {
    list-style: none;
}
.footer-menu ul li {
    margin: 10px 0;
}
.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.footer-menu ul li a:hover {
    text-decoration: underline;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto;
}