@font-face {
    font-family: Quicksand-Bold;
    src: url(/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/Quicksand-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand-Regular;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5157FF;
    padding: 20px 40px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img {
    height: 40px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    background: #5157FF;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.menu ul li a:hover {
    transform: translateY(-5px);
    background: #4045E0;
    color: #000000;
}

.admin-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.admin-menu .login {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #4045e0;
    padding: 8px 16px;
    border-radius: 16px;
    transition: background 0.3s, transform 0.2s;
}

.admin-menu .login:hover {
    background: #3038b8;
    transform: scale(1.1);
}

.admin-menu .menu-icon {
    font-weight: bold;
    cursor: pointer;
}


main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer {
    text-align: start;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    background-color: #3b59ff;
    padding: 44px;
    margin-top: 78px;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-left: 76px;
}

.footer-menu ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    width: 100%;
    padding-top: 44px;
    padding-left: 72px;
    padding-right: 72px;
    color: white;
    font-family: Quicksand-Bold;
}

.footer-text {
    padding-left: 56px;
    padding-right: 56px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 64px;
    margin-left: 64px;
}

