
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    justify-content: space-between;
}

/* Cabeçalho */
header {
    background-color: #5157ff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.admin-text {
    font-size: 1rem;
    color: #fff
}

.logout {
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #3f51b5;
    border-radius: 5px;
    box-shadow: none;

}

.logout:hover {
    background-color: #3949ab;
    text-decoration: underline;
}


main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Rodapé */
footer {
    background-color: #5157ff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
    font-size: 0.875rem;
}
