@font-face {
    font-family: Quicksand-Bold;
    src: url(../../WEB-INF/fonts/Quicksand-Bold.ttf);
  }
  @font-face {
    font-family: Quicksand-Regular;
    src: url(../../WEB-INF/fonts/Quicksand-Regular.ttf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4A5DF2;
    padding: 25px 50px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.admin-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
}

.admin-info i {
    margin-right: 5px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.nav-links i {
    color: white;
}

footer {
    background-color: #4A5DF2;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-menu {
    margin-bottom: 10px;
    padding-left: 35px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    justify-content: center; 
    align-items: center;              
    text-align: center;      
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto;
}
.buttons {
    display: block;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttons button {
    display: block;
    margin-bottom: 30px; 
    padding: 15px 30px; 
    font-size: 18px;
    width: 17%;
    border-radius: 10px;
    color: black;
    border-color: white;
    background-color: white;
    font-family: Quicksand-Bold;
}

.buttons button:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.buttons button:active {
    background-color: black;
    color: white;
    border-color: black;
}


