@font-face {
    font-family: Quicksand-Bold;
    src: url(/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/Quicksand-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Quicksand-Regular', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand-Regular;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f0f0f0;
    overscroll-behavior: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5157FF;
    padding: 20px 40px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img {
    height: 40px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin-left: 100px;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    background: #5157FF;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.menu ul li a:hover {
    transform: translateY(-5px);
    background: #4045E0;
    color: #000000;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-menu .login {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #4045e0;
    padding: 8px 16px;
    border-radius: 16px;
    transition: background 0.3s, transform 0.2s;
}

.user-menu .login:hover {
    background: #3038b8;
    transform: scale(1.1);
}

.user-menu .menu-icon {
    font-weight: bold;
    cursor: pointer;
}

.buttons-container {
    text-align: center;
    margin: 40px auto;
    padding: 20px;
}

.buttons-container h1 {
    font-size: 28px;
    color: #4045E0;
    margin-bottom: 20px;
    font-family: Quicksand-Bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.manage-btn {
    padding: 15px 30px;
    border: none;
    background-color: #5157FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.manage-btn a {
    text-decoration: none;
    color: white;
}

.manage-btn:hover {
    background-color: #4045E0;
    transform: translateY(-5px);
}

footer {
    text-align: start;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    background-color: #3b59ff;
    padding: 44px;
    margin-top: 78px;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-left: 76px;
}

.footer-menu ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    width: 100%;
    padding-top: 44px;
    padding-left: 72px;
    padding-right: 72px;
    color: white;
    font-family: Quicksand-Bold;
}

.footer-text {
    padding-left: 56px;
    padding-right: 56px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 64px;
    margin-left: 64px;
}

.price-text {
    margin-bottom: 44px;
    margin-top: 44px;
}