@font-face {
    font-family: Quicksand-Bold;
    src: url(/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/Quicksand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand-Regular;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    overscroll-behavior: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5157FF;
    padding: 20px 40px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img {
    height: 40px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin-left: 200px;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    background: #5157FF;
    border-radius: 8px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.menu ul li a:hover {
    transform: translateY(-5px);
    background: #4045E0;
    color: #000000;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-menu span {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    background: #5157FF;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.user-menu span:hover {
    transform: translateY(-5px);
    background: #4045E0;
    color: #000000;
}

.user-menu .user-icon img {
    width: 19px;
    height: 19px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.user-menu .user-icon img:hover {
    transform: scale(1.1);
}

.user-menu .menu-icon {
    font-weight: bold;
    cursor: pointer;
}
.about-us {
    width: 100%;
    font-family: Quicksand-Regular;
    color: #333;
    line-height: 1.6;
}


.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/about-us.png') no-repeat center center;
    height: 550px;
    background-size: cover;
    padding: 0 20px;
    color: white;
}

.about-header h1 {
    font-size: 62px;
    font-family: Quicksand-Bold;
    max-width: 700px;
    text-align: left;
    margin-right: 228px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.about-content {
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
    gap: 100px;
}

.about-title h2 {
    color: #5157FF;
    font-family: Quicksand-Bold;
    font-size: 44px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.375;
}


.about-text p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 16px;
    line-height: 1.6;
    width: 608px;
}

.explorer-container {
    background-image: url("/img/about-us-background.webp");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.explorer-container p {
    font-size: 50px;
    font-family: Quicksand-Bold;
    max-width: 800px;
    line-height: 1.375;
    margin-bottom: 62px;
}

.explorer-container img {
    width: 100px;
    height: auto;
}

.sustainability-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3f0ff;
}

.sustainability-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
}

.sustainability-content h2 {
    font-size: 52px;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.375;
    font-family: Quicksand-Bold;
}

.sustainability-content p {
    font-size: 18px;
    color: #000000;
}


.sustainability-image {
    display: flex;
    justify-content: flex-end;
}

.sustainability-image img {
    width: 100%;
    max-width: 790px;
    height: 650px;
}

.sustainability-image-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/sustainability-desktop-hero-image.webp') no-repeat center center;
    height: 550px;
    background-size: cover;
    padding: 0 20px;
    color: white;
}

.sustainability-image-footer h1 {
    font-size: 62px;
    font-family: Quicksand-Bold;
    max-width: 700px;
    text-align: left;
    margin-right: 228px;
}

footer {
    text-align: start;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    background-color: #5157FF;
    padding: 44px;
    margin-top: 78px;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-left: 76px;
}

.footer-menu ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    width: 100%;
    padding-top: 44px;
    padding-left: 72px;
    padding-right: 72px;
    color: white;
    font-family: Quicksand-Bold;
}

.footer-text {
    padding-left: 56px;
    padding-right: 56px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 64px;
    margin-left: 64px;
}

.price-text {
    margin-bottom: 44px;
    margin-top: 44px;
}
