@font-face {
    font-family: Quicksand-Bold;
    src: url(/fonts/Quicksand-Bold.ttf);
}
@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand-Semibold;
    src: url(/fonts/Quicksand-SemiBold.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    background-image: url(/img/login.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .login-box {
    background-color: #FCFAFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
 }
 
 h2 {
     font-family: 'Quicksand-Bold';
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
 }
 
 .input-group {
     display: flex;
     flex-direction: column;
    margin-bottom: 44px;
     font-family: 'Quicksand-Semibold';

 }

 .input-container {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     border: none;
     border-bottom: 1px solid black;
     outline: none;
 }

input::placeholder {
    color: black;
}


.input-container #nome {
    border: none;
    outline: none;
}

.input-container #senha {
    border: none;
    outline: none;
}
 
 .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
 }
 
 .input-group input {
    width: 100%;
    padding: 10px 0;
     font-family: Quicksand-Semibold;
    font-size: 12px;
     background-color: #FCFAFF;

 }

 .input-group .icon-user {
     width: 16px;
     height: 16px;

 }

 .input-group .icon-lock {
     width: 16px;
     height: 16px;
 }


 
 .input-group i {
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 12px;
    color: #888;
 }
 
 button {
     font-family: Quicksand-Bold;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #5157FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 button:hover {
    background-color: #3B41D6;
 }
 
 p {
     font-family: Quicksand-Regular;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
 }
 
 p a {
    color: #5157FF;
    text-decoration: none;
     font-family: Quicksand-Bold;
 }
 
 p a:hover {
    text-decoration: underline;
 }
 