@font-face {
    font-family: Quicksand-Bold;
    src: url(/fonts/Quicksand-Bold.ttf);
}
@font-face {
    font-family: Quicksand-Regular;
    src: url(/fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand-Semibold;
    src: url(/fonts/Quicksand-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .container {
    display: flex;
    width: 100%;
    height: 100vh; 
    background-color: white;
 }
 
 .left-side {
    width: 50%;
    background-color: #5157FF;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); /* Forma diagonal */
 }
 
 .left-side h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
     font-family: Quicksand-Bold;
 }
 
 .left-side p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 300px; 
    text-align: left; 
 }
 
 
 .right-side {
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .signup-box {
    width: 100%;
    max-width: 400px;
 }
 
 h2 {
    margin-bottom: 64px;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
     font-family: Quicksand-Bold;
 }

 .signup-container {
     display: flex;
     flex-direction: column;
     gap: 28px;
 }

 .input-group {
    margin-bottom: 20px;
 }
 
 .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
 }
 
 .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    border: none;
    outline: none;
     font-family: Quicksand-Semibold;
 }

 .input-group .icon {
     width: 16px;
     height: 16px;
 }

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
 
 input::placeholder {
    color: black;
 }

 
 button {
    width: 100%;
     margin-top: 24px;
    padding: 15px;
    font-size: 16px;
    background-color: #5157FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 button:hover {
    background-color: #3B41D6;
 }
 
 p {
    margin-top: 32px;
    font-size: 14px;
    text-align: center;
    text-align: left;
     font-family: Quicksand-Regular;
 }
 
 p a {
    color: #5157FF;
    text-decoration: none;
     font-family: Quicksand-Bold;
 }
 
 p a:hover {
    text-decoration: underline;
 }
 