* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #4A5DF2;
    padding: 25px 50px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.admin-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
}

.admin-info i {
    margin-right: 5px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.nav-links i {
    color: white;
}

footer {
    background-color: #4A5DF2;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-menu {
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin: 10px 0;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    justify-content: center; 
    align-items: center;              
    text-align: center;      
    font-size: 12px;
    max-width: 800px;
    margin: 0 auto;
}